.minFullWidth {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.minFullWidthMd{
    width: 95%;
    margin: 0 auto;
}
  
.header5 {
    color: #434de7;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 20px;
    font-size: 1.5rem;
}

.header3 {
    /* background: linear-gradient(to right, var(--lg), var(--llg), var(--lg)); */
    width: 95%;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* margin-bottom: 2.5rem; */
    font-weight: 600;
    letter-spacing: -0.07rem;
    /* margin-top: 20px; */
}

.header3Md {
font-size: 2.75rem;
margin-bottom: 2rem;
}

.header5Md {
font-size: 1.5rem;
}

.gridContainer{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0;
    margin-top: 12rem;
}

.Container{
    align-items: top;
}

.pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: end;
    /* margin-top: 35px; */
}

.image{
    border-radius: 15px;
    width: 500px;
    height: 300px;
}

.para{
    display: block;
    align-items: center;
    font-weight: 500;
    font-size: 1.15rem;
    color: #4b5563;
    line-height: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: .5rem;
    border: 1px solid #434de7;
    width: 20%;
    border-radius: 7px;
    color: #434de7;
}

.button:hover{
    background-color: #434de7;
    color: white;
}

@media (max-width: 1025px){
    .minFullWidthMd{
        width: 100%;
    }
    .gridContainer{
        margin-top: 10rem;
        grid-template-columns: 60% 40%;
    }
    .pic{
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header3Md{
        font-size: 44px;
        line-height: 1.1;
        margin-bottom: 0.2rem;
    }
    .para{
        display: block;
        margin-top: 20px;
        padding-right: 35px;
    }
    .button{
        display: flex;
        margin-top: 18px;
        width: 35%;
    }
    .image{
        width: auto;
        height: 280px;
    }
}

@media (max-width: 769px){
    .header5{
        font-size: 20px;
    }
    .header3{
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 0;
        line-height: 1;
        margin-bottom: 15px;
    }
    .para{
        font-size: .9rem;
        line-height: 1.5rem;
        margin-top: 16px;
        letter-spacing: 1px;
        color: #4b5563;
    }
    .button{
        font-size: 15px;
    }
    .image{
        display: flex;
        align-items: center;
        width: auto;
        height: 250px;
    }
}

@media (max-width: 525px){
    .gridContainer{
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
    }
    .pic{
        margin-top: 3rem;
    }
}