.minFullWidth {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.minFullWidthMd{
    width: 95%;
    margin: 0 auto;
}
  
.header5 {
    color: #434de7;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 20px;
    font-size: 1.5rem;
    margin-top: 11rem;
    /* letter-spacing: -0.05rem;
    color: var(--lb);
    font-weight: 500; */
}

.header5Md {
font-size: 1.5rem;
}

.header3 {
    /* background: linear-gradient(to right, var(--lg), var(--llg), var(--lg)); */
    width: 95%;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin-bottom: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.07rem;
    margin-top: 20px;
}

.header3Md {
font-size: 2.75rem;
width: 40%;
}

.gridContainerr {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 2rem;
padding: 0;
height: auto;
}

.gridContainerrMd {
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
}

.card {
padding: 0.75rem;
border-radius: 1rem;
display: flex;
flex-direction: column;
background-color: #f9fafb;
background-image: linear-gradient(180deg, #e5f4ff  22.65%, #fffeff 80.64%);
box-shadow: 10px 20px 30px 0 #f2f9fe;
border-radius: 30px;
}

.cardMd {
padding: 1.5rem;
}

.cardHeader {
font-size: 1.25rem;
border-radius: 0.375rem;
font-weight: 500;
letter-spacing: -0.05rem;
margin-bottom: 0.75rem;
}

.cardHeaderMd {
font-size: 30px;
display: flex;
font-weight: 600;
letter-spacing: .5px;
margin-bottom: 10px;
}

.pricing{
    font-size: 20px;
    margin-top: -.5rem;
    font-weight: bold;
    color: blue;
}

.cardText {
font-size: 1rem;
margin-top: 1rem;
line-height: 1.5;
}

.cardTextMd {
font-size: 1.25rem;
margin-bottom: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: .5rem;
    border: 1px solid #434de7;
    width: 50%;
    border-radius: 7px;
}

.button:hover{
    background-color: #434de7;
    color: white;
}