@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gr: hsl(153, 87%, 41%);
  --b: #1d7dee;
  --lb: #79b0f5;
  --g: #242930;
  --g2: #3e4650;
  --lg: #71777e;
  --llg: #ecf2fa;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mesh-price {
  background-color: hsla(212, 0%, 96%, 1);
  background-image: radial-gradient(
      at 100% 0%,
      rgba(61, 71, 81, 0.416) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 27% 100%,
      rgba(135, 135, 135, 0.479) 0px,
      transparent 50%
    );
}

.mesh-price {
  background-color: hsla(212, 0%, 96%, 1);
  background-image: radial-gradient(
      at 100% 0%,
      rgba(61, 71, 81, 0.416) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 27% 100%,
      rgba(135, 135, 135, 0.479) 0px,
      transparent 50%
    );
}

.mesh {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 29% 100%,
      hsla(213, 85%, 71%, 0.311) 0px,
      transparent 50%
    ),
    radial-gradient(at 59% 94%, hsla(153, 87%, 41%, 0.302) 0px, transparent 50%);
}

.mesh-home {
  background-color: hsla(34, 0%, 100%, 1);
  background-image: radial-gradient(
      at 100% 99%,
      rgba(27, 125, 238, 0.361) 0px,
      transparent 50%
    ),
    radial-gradient(at 62% 100%, rgba(14, 196, 114, 0.235) 0px, transparent 50%);
}

.mesh-dark {
  background-color: hsla(215, 14%, 16%, 1);
  background-image: radial-gradient(
      at 72% 61%,
      hsla(213, 12%, 27%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 98%, hsla(212, 5%, 46%, 1) 0px, transparent 50%);
}

/* .mesh-light {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 59% 31%,
      hsla(213, 85%, 71%, 0.29) 0px,
      transparent 50%
    ),
    radial-gradient(at 39% 0%, hsla(153, 87%, 41%, 0.19) 0px, transparent 50%);
} */

.mesh-gold {
  background-color: hsla(34, 0%, 100%, 1);
  background-image: radial-gradient(
      at 69% 100%,
      rgba(255, 226, 123, 0.822) 0px,
      transparent 50%
    ),
    radial-gradient(at 39% 99%, rgba(231, 169, 75, 0.748) 0px, transparent 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
    --gold: rgb(201, 174, 76);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
