.minFullWidth {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -2rem;
}

.minFullWidthMd{
    width: 95%;
    margin: 0 auto;
}
  
.header5 {
    color: #434de7;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 20px;
    font-size: 1.5rem;
}

.header3 {
    /* background: linear-gradient(to right, var(--lg), var(--llg), var(--lg)); */
    width: 95%;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.07rem;
    margin-top: 20px;
}

.header3Md {
font-size: 2.75rem;
}

.header5Md {
font-size: 1.5rem;
}

.gridContainer{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0;
    margin-top: 12rem;
}

.Container{
    margin-top: 2rem;
}

.pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.para{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.15rem;
    color: #4b5563;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: .5rem;
    border: 1px solid #434de7;
    width: 20%;
    border-radius: 7px;
    color: #434de7;
}

.button:hover{
    background-color: #434de7;
    color: white;
}

@media (max-width: 1025px){
    .gridContainer{
        margin-top: 10rem;
    }
    .minFullWidthMd{
        width: 100%;
    }
    .header5{
        font-size: 20px;
    }
    .header3{
        font-size: 44px;
        margin-bottom: 0.2rem;
        margin-top: 1rem;
        line-height: 1.1;
    }
    .para{
        display: flex;
        font-size: 16px;
        margin-top: 15px;
        color: #4b5563;
    }
    .button{
        margin-top: 1rem;
    }
    .pic{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
        padding-right: 1rem;
    }
}

@media (max-width: 769px){
    .header5{
        font-size: 20px;
    }
    .header3{
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 0;
        line-height: 1;
        margin-bottom: 15px;
    }
    .para{
        font-size: .9rem;
        line-height: 1.5rem;
        margin-top: 16px;
        letter-spacing: 1px;
        color: #4b5563;
    }
    .button{
        font-size: 15px;
    }
}